{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "printWidth": 120,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"]
}
