@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 374px;
    --breakpoint-md: 799px;
    --breakpoint-lg: 1199px;

    --font-pixelify-sans: var(--font-pixelify-sans);

    --color-dark-50: #dbdbdb;
    --color-dark-100: #cfcfcf;
    --color-dark-200: #b8b8b8;
    --color-dark-300: #969696;
    --color-dark-400: #6e6e6e;
    --color-dark-500: #545454;
    --color-dark-600: #424242;
    --color-dark-700: #363636;
    --color-dark-800: #2b2b2b;
    --color-dark-900: #1a1a1a;
    --color-dark-950: #0d0d0d;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@keyframes playing {
    0% {
        height: 4px;
    }
    50% {
        height: 16px;
    }
    100% {
        height: 4px;
    }
}

/* React Grid Layout */
.react-grid-layout {
    @apply relative transition-[height] duration-200 ease-in-out;

    .react-grid-item {
        @apply transition-[left,_top,_width,_height] delay-0 duration-500 ease-in-out;

        img {
            @apply pointer-events-none select-none;
        }

        &.rezising {
            @apply z-1 transition-none will-change-[width,_height];
        }

        &.react-draggable-dragging {
            @apply z-3 transition-none will-change-transform;
        }

        &.dropping {
            @apply invisible;
        }

        &.react-grid-placeholder {
            @apply z-2 rounded-3xl bg-black opacity-5 duration-100 select-none;

            html.dark & {
                @apply bg-white opacity-5;
            }
        }
    }
}

/* Mapbox */
.mapboxgl-control-container {
    @apply hidden;
}

div[mapboxgl-children] {
    @apply absolute inset-0;
}

/* MDX */
.prose .anchor {
    @apply invisible absolute -ml-6 pr-2 no-underline;

    &:after {
        @apply text-neutral-300 content-['#'] dark:text-neutral-700;
    }
}

.anchor:hover {
    @apply visible;
}

.prose *:hover > .anchor {
    @apply visible;
}
