@tailwind base;
@tailwind components;
@tailwind utilities;

/* leaflet styles */

.leaflet-pane {
    z-index: 0 !important;
}

/* mdx styles */

.prose {
    ul.contains-task-list {
        @apply list-none p-0 m-0;

        li.task-list-item,
        li.task-list-item input[type='checkbox'] {
            @apply p-0 m-0;
        }
    }
    section.footnotes {
        @apply text-sm border-t border-gray-600/30 dark:border-gray-400/30 mt-6;
    }
}

/* rehype-pretty-code styles */

[data-rehype-pretty-code-fragment] {
    pre {
        @apply overflow-x-auto py-4 rounded-lg px-0;

        code {
            > [data-line]::before {
                @apply inline-block mx-3;
                content: '';
            }
            > [data-line]::after {
                @apply inline-block mx-3;
                content: '';
            }
        }

        code[data-line-numbers] {
            counter-reset: line;
            > [data-line]::before {
                @apply text-right text-gray-600;
                counter-increment: line;
                content: counter(line);
            }
        }
    }

    code[data-line-numbers-max-digits='2'] > [data-line]::before {
        @apply w-8;
    }

    code[data-line-numbers-max-digits='3'] > [data-line]::before {
        @apply w-12;
    }

    [data-highlighted-line] {
        @apply bg-gray-100/10;
    }

    [data-highlighted-chars] {
        box-shadow: inset 0 -2px 0 0 #f59e0b;
    }

    [data-rehype-pretty-code-title] {
        @apply px-4 py-3 text-sm rounded-t-lg text-white border-b border-gray-700 bg-[#24292e];
    }

    [data-rehype-pretty-code-title] + pre {
        @apply mt-0 rounded-t-none;
    }
}
